/*
    Cambel - HTML Structure + CSS Styling
    Espartero - Backend Functions
    Fallarme - Backend Functions
    Gelvezon - CSS Styling
*/

/* ======= Navigation Bar =======*/
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#logo {
  max-width: 60px;
  width: auto;
  margin-right: 20px;
  margin-left: 0;
}

.nav_bar {
  background-color: rgba(221, 250, 224, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  letter-spacing: 3px;
}

.nav_links {
  display: flex;
  align-items: center;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bolder;
  gap: 5px;
}

.nav_links .navigation {
  text-decoration: none;
  font-size: 18px;
  color: #043303;
  transition: 0.3s;
  border-radius: 10px;
  padding: 10px 15px;
  border: 3px solid transparent;
  margin-right: 5px;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;
}

.nav_links .navigation:hover {
  border-color: #043303;
}

.home_page .nav_bar .navigation[href="lab5_home.html"] {
  border-color: #043303;
  color: #043303;
  padding: 10px 15px;
  border-radius: 10px;
}

.nav_bar:hover .navigation:not(:hover) {
  background-color: rgba(225, 225, 225, 0);
  color: #043303;
  border-color: transparent;
}
.nav_search {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: "Montserrat";
}

#search_id {
  font-family: "Montserrat";
  border: 3px solid white;
  border-radius: 10px;
  outline: none;
  padding: 10px 6px;
  width: 200px;
  font-size: 18px;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

#search_id:focus {
  border-color: #043303;
  box-shadow: 0 0 5px rgba(4, 51, 3, 0.2);
}

#search_id::placeholder {
  color: #888;
  font-style: italic;
  font-size: 15px;
}

.search_button {
  font-family: "Montserrat";
  font-size: 13px;
  color: #043303;
  padding: 5px 5px;
  border-radius: 15px;
  border: 3px solid #043303;
  background-color: transparent;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100px;
  height: 47px;
  cursor: pointer;

  transition: background-color 0.3s ease color 0.3s ease transform 0.1s ease;
}

.search_button:hover {
  background-color: #043303;
  color: white;
}

.search_button:active {
  transform: scale(0.95);
}
/* ======= HOME PAGE =======*/
.home_page {
  .page_header {
    text-align: center;
    margin-top: 50px;
  }

  .page_header h1 {
    font-size: 50px;
    color: #eadf71;
    margin-bottom: 5px;
  }

  .page_header p {
    margin-top: 0;
    font-size: 15px;
  }

  .add_student_forms {
    background: #c2f4c95a;
    padding: 25px;
    width: 450px;
    margin: 30px auto 30px auto;
    border: 2px solid #dafee4;
    border-radius: 10px;
    box-shadow: #040500 0px 4px 15px;
  }

  .add_student_forms h2 {
    text-align: center;
    font-size: 30px;
    color: #040500;
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* ======= Form Inputs =======*/
  #student_form {
    display: grid;
    grid-template-columns: 80px 1fr;
    row-gap: 20px;
    align-items: center;
  }

  #student_form label {
    font-size: 15px;
  }

  #student_form input,
  #student_form select {
    padding: 12px;
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
  }

  #student_form button {
    grid-column: 1 / -1;
    width: 140px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto 0;
    justify-self: center;
    cursor: pointer;
  }

  /* ======= Error Display =======*/
  #form_error {
    color: red;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 20px;
  }
}

/* ======= DISPLAY PAGE =======*/
.page_header h2{
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  color: #eadf71;
}

#display_page .page_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#display_page .page_header h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.table_container {
  margin: 30px auto;
  width: 70%;
  min-height: 300px;

  background: rgba(80, 120, 86, 0.882); /* glass effect */
  backdrop-filter: blur(10px);

  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 20px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
  color: white;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

th, td {
    padding: 12px;
    text-align: center;
}

th:nth-child(1),
td:nth-child(1) { width: 20%; }  /* Sudent No. */

th:nth-child(2),
td:nth-child(2) { width: 25%; }  /* Name */

th:nth-child(3),
td:nth-child(3) { width: 5%; }  /* Age */

th:nth-child(4),
td:nth-child(4) { width: 25%; }  /* Email */

th:nth-child(5),
td:nth-child(5) { width: 25%; }  /* Course */

th {
    background-color: rgba(0,0,0,0.4);
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.1);
}

tr:nth-child(odd) {
    background-color: rgba(255,255,255,0.1);
}


tr:hover {
    background-color: rgba(255,255,255,0.2);
}

/* ======= Footer Section =======*/
.footer {
  text-align: center;
  padding: 15px;
  color: white;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 20px;
  font-family: "Montserrat";
}

.footer hr {
  border: 0;
  height: 1px;
  background-color: white;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}
